@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Serif:400,700");
* {
  box-sizing: border-box; }

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #323232; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: #0098ff; }
  a:hover {
    color: #006ab3; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200; }

.serif {
  font-family: 'PT Serif', serif; }

.sans {
  font-family: 'Open Sans', sans-serif; }

h1.logo {
  margin: 0px;
  padding: 0px;
  font-size: 64px;
  line-height: 32px;
  height: 32px;
  display: block; }
  h1.logo i.agora-logo {
    user-select: none;
    text-transform: lowercase;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    display: block;
    background: url(../img/iso.color.svg) no-repeat;
    padding-left: 16px;
    background-size: 13px, 32px;
    background-position: left center;
    width: auto;
    font-size: 28px;
    color: #323232; }

.navbar-agora {
  background: #fff;
  border-bottom: 1px solid #EBEBEB; }
  .navbar-agora .navbar-toggler {
    color: #0098ff;
    position: relative;
    outline: none;
    width: 48px;
    height: 48px; }
    .navbar-agora .navbar-toggler i.icon-bar {
      background-color: #0098ff;
      width: 24px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -2px 0px 0px -12px; }
      .navbar-agora .navbar-toggler i.icon-bar:nth-child(1) {
        margin-top: -8px; }
      .navbar-agora .navbar-toggler i.icon-bar:nth-child(3) {
        margin-top: 4px; }

section {
  padding: 64px 0px; }

#login, #register {
  padding: 128px 0px;
  background: url(../img/login-background.jpg);
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #login form, #register form {
    width: auto;
    max-width: 360px;
    padding: 2em;
    border-radius: 16px;
    margin: 0px 16px;
    background-color: #fff;
    font-size: .9em; }
    #login form p.desc, #register form p.desc {
      text-align: center;
      font-size: .75em; }
      #login form p.desc:last-child, #register form p.desc:last-child {
        margin-bottom: 0px; }
    #login form label, #register form label {
      font-weight: 600;
      font-size: .8em; }
    #login form input[type="text"], #login form input[type="password"], #register form input[type="text"], #register form input[type="password"] {
      outline: none;
      background: transparent;
      width: 100%;
      border: 1px solid #0098ff;
      padding: .5em;
      border-radius: 8px;
      font-size: 1.1em;
      margin: 0px 0px 16px; }
      #login form input[type="text"]:focus, #login form input[type="password"]:focus, #register form input[type="text"]:focus, #register form input[type="password"]:focus {
        border-color: #4db7ff; }
    #login form input[type="submit"], #register form input[type="submit"] {
      color: #1f5d0c;
      display: block;
      margin-top: 32px;
      padding: 16px 32px;
      width: 100%;
      border-radius: 8px;
      background: #95ee7a;
      font-size: 18px;
      border: none;
      outline: none; }
      #login form input[type="submit"]:hover, #register form input[type="submit"]:hover {
        background: #a7f191; }
      #login form input[type="submit"]:focus, #register form input[type="submit"]:focus {
        background: #83eb63; }

#landing-header {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100vh;
  background: url(../img/header-background.png);
  background-size: cover;
  background-position: 65% 0%;
  color: #fff;
  text-align: left;
  padding-top: 64px; }
  #landing-header article {
    max-width: 300px; }
    #landing-header article h2 {
      text-align: center;
      font-weight: 300;
      font-size: 24px; }

#faq-header {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: url(../img/header-background.png);
  background-size: cover;
  background-position: 65% 25%;
  color: #fff;
  text-align: left;
  padding-top: 60px; }
  #faq-header article h2 {
    font-weight: 300;
    font-size: 24px; }
    #faq-header article h2 img {
      display: block;
      width: 128px; }

#preguntas {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; }
  #preguntas article {
    padding: 32px 1em; }
    #preguntas article h2 {
      color: #0098ff; }

#features {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; }
  #features article {
    padding: 64px 32px; }
    #features article h2 {
      color: #0098ff; }
    #features article p {
      font-family: 'PT Serif', serif; }

aside#join {
  background: url(../img/join-background.png);
  color: #fff;
  padding: 4em 1em;
  margin: 0px;
  text-align: center; }
  aside#join h3 {
    color: #fff;
    font-size: 18px; }
  aside#join a {
    display: inline-block;
    font-size: 1.1em;
    color: #fff;
    border-radius: 8px;
    padding: .5em 1em;
    border: 3px solid #fff; }
  aside#join p {
    margin: 0px; }

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 64px 0px;
  color: #aaa;
  background: #323232; }
  footer .footer-links {
    display: inline-block;
    font-size: .75em;
    padding: 24px 0px 0px; }
    footer .footer-links a {
      color: #aaa; }
  footer img {
    display: inline-block;
    width: 64px;
    vertical-align: middle;
    margin: 0px 24px 0px 0px; }

/*# sourceMappingURL=main.css.map */
